{{#if headingOffset}}
### The {{name}} Object
{{else}}
## The {{name}} Object
{{/if}}

- [Properties](./#properties)
- [Errors](./#errors)
- [Warnings](./#warnings)
- [Events](./#events)
- [Endpoints](./#endpoints)

{{#if description}}

{{description}}
{{/if}}

{% tabs %}
{% tab title="JSON" %}
```json
{
{{#each properties}}
{{#if @last}}
  {{name}}: [example value]
{{else}}
  {{name}}: [example value],
{{/if}}
{{/each}}
}
```
{% endtab %}
{% endtabs %}

---

{{#if headingOffset}}
### Properties
{{else}}
## Properties
{{/if}}

<table>
<tr><th width="25%">Property</th><th>Description</th></tr>
{{#each properties}}
<tr><td>{{#if linkTarget}}<a href="{{linkTarget}}"><strong><code>{{name}}</code></strong></a>{{else}}<strong><code>{{name}}</code></strong>{{/if}} <i>{{format}}</i>{{#if listItemFormat}} <i>of {{listItemFormat}}s</i>{{/if}}</td>
<td>
{{#if description}}
{{description}}

{{/if}}
{{#if isDeprecated}}
{{> deprecated-warning}}

{{/if}}
{{#if enumValues}}
<details>

<summary>Enum values</summary>

{{#each enumValues}}
- `{{this}}`
{{/each}}
</details>

{{/if}}
{{#unless (eq objectProperties undefined)}}
{{#if (eq objectProperties.length 0)}}

This object has no properties.
{{else}}
<details>

<summary>Child Properties</summary>
{{#each objectProperties}}

- {{> property-nested this}}
{{/each}}
</details>

{{/if}}
{{/unless}}
{{#if listProperties}}
<details>

<summary>Child Object Properties</summary>
{{#each listProperties}}

- {{> property-nested this}}
{{/each}}
</details>

{{/if}}

</td></tr>

{{/each}}
</table>
