
---
description: <%= objectDescription %>
---

# <%= objectName.replace(/([a-z])([A-Z])/g, '$1 $2') %>

<%= methods[0].description %>

{% swagger src="<%= methods[0].swaggerSrc %>" path="<%= methods[0].swaggerPath %>" method="<%= methods[0].swaggerMethod %>" %}
[<%= methods[0].swaggerSrc %>](<%= methods[0].swaggerSrc %>)
{% endswagger %}

## Request

To filter the list of returned access control systems by a specific [connected account](../../connected-accounts/) ID, include the `connected_account_id` in the request body. If you omit the `connected_account_id` parameter, the response includes all access control systems connected to your [workspace](../../../core-concepts/workspaces/).

### Request Body Parameters

<table><thead><tr><th>Parameter</th><th width="112.33333333333331">Type</th><th>Description</th></tr></thead><tbody>
<% methods[0].parameters.forEach(function(param) { %>
<tr><td><code><%= param.name %></code></td><td><%= param.type %><br><em><%= param.required ? 'Required' : 'Optional' %></em></td><td><%= param.description %></td></tr>
<% }); %>
</tbody></table>

### Sample Request

{% tabs %}
{% tab title="Python" %}
```python
seam.acs.systems.list()
```
{% endtab %}

{% tab title="cURL (bash)" %}
```bash
# Use GET or POST.
curl -X '<%= methods[0].swaggerMethod.toUpperCase() %>' \
  'https://connect.getseam.com<%= methods[0].swaggerPath %>' \
  -H 'accept: application/json' \
  -H "Authorization: Bearer ${API_KEY}" \
  -H 'Content-Type: application/json'
```
{% endtab %}

{% tab title="JavaScript" %}
```javascript
<%- methods[0].sampleRequest %>
```
{% endtab %}

{% tab title="Ruby" %}
```ruby
# Coming soon!
```
{% endtab %}

{% tab title="PHP" %}
```php
$seam->acs->systems->list();
```
{% endtab %}

{% tab title="C#" %}
```csharp
seam.SystemsAcs.List();
```
{% endtab %}

{% tab title="Java" %}
```java
// Coming soon!
```
{% endtab %}

{% tab title="Go" %}
```go
acs_systems, uErr := client.Acs.Systems.List(
  context.Background(), &acs.SystemsListRequest{},
)
```
{% endtab %}
{% endtabs %}

## Response

Returns an `acs_systems` array, in which each returned `acs_system` contains the following properties:

<table><thead><tr><th width="310">Property</th><th>Description</th></tr></thead><tbody>
<% methods[0].responseProperties.forEach(function(resp) { %>
<tr><td><code><%= resp.name %></code></td><td><%= resp.description %></td></tr>
<% }); %>
</tbody></table>

### Sample Response

{% tabs %}
{% tab title="JavaScript" %}
```json
<%- methods[0].sampleResponse %>
```
{% endtab %}
{% endtabs %}
