---
description: "{{{description}}}"
---

# {{title}}

{{{description}}}

{% swagger src="https://connect.getseam.com/openapi.json" path="{{path}}"
method="{{request.preferredMethod}}" %}
[https://connect.getseam.com/openapi.json](https://connect.getseam.com/openapi.json)
{% endswagger %} 

## Request 
Not enough data 

### Request Body Parameters

<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th width='112.33333333333331'>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each request.parameters}}
      <tr>
        <td><code>{{this.name}}</code></td>
        <td>String (UUID)<br /><em>{{#if
              this.required
            }}Required{{else}}Optional{{/if}}</em></td>
        <td>{{this.description}}</td>
      </tr>
    {{else}}
      <tr>
        <td colspan='3'>No parameters available.</td>
      </tr>
    {{/each}}
  </tbody>
</table>

### Sample Request

<!-- prettier-ignore -->
{% tabs %}
{{#each codeSamples}}
  {{#each this.code}}
    <!-- prettier-ignore -->
    {% tab title="{{@key}}" %} 
    ```{{@key}}
    {{this.request}}
    ``` 
    {% endtab %}
  {{/each}}
{{else}}
  <!-- prettier-ignore -->
  {% tab title="No samples available" %} 
    ``` 
    No sample requests available. 
    ```
  {% endtab %}
{{/each}}
{% endtabs %} ## Response

{{{response.description}}}

### Response Properties

<table>
  <thead>
    <tr>
      <th width='310'>Property</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each response.properties}}
      <tr>
        <td><code>{{this.name}}</code></td>
        <td>{{this.description}}</td>
      </tr>
    {{else}}
      <tr>
        <td colspan='2'>No properties available.</td>
      </tr>
    {{/each}}
  </tbody>
</table>

### Sample Response

<!-- prettier-ignore -->
{% tabs %}
{{#each codeSamples}}
  {{#each this.code}}
    <!-- prettier-ignore -->
    {% tab title="{{@key}}" %} ```{{@key}}
    {{this.response}}
    ``` {% endtab %}
  {{/each}}
{{else}}
  <!-- prettier-ignore -->
  {% tab title="No samples available" %} ``` No sample responses available. ```
  {% endtab %}
{{/each}}
{% endtabs %}