# {{title}}

{{#each resources}}
{{> api-resource }}
{{#if errors.length}}

## Errors

<table>
<tr><th width="250">Error</th><th>Description</th></tr>
{{#each errors}}
<tr><td><strong><code>{{name}}</code></strong></td>

<td>{{description}}</td>
</tr>
{{/each}}
</table>
{{/if}}
{{#if warnings.length}}

## Warnings

<table>
<tr><th width="250">Warning</th><th>Description</th></tr>
{{#each warnings}}
<tr><td><strong><code>{{name}}</code></strong></td>

<td>{{description}}</td>
</tr>
{{/each}}
</table>
{{/if}}
{{/each}}
{{#if events.length}}

## Events

<table>
<tr><th width="250">Event</th><th>Description</th></tr>
{{#each events}}
<tr><td><strong><code>{{name}}</code></strong></td>
<td>
{{#if description}}
{{description}}

{{/if}}
<details>

<summary>Properties</summary>
{{#each properties}}

- {{> property-nested this}}
{{/each}}
</details>

</td></tr>
{{/each}}
{{/if}}
</table>

## Endpoints

<table>
<tr><th width="250">Endpoint</th><th>Description</th></tr>
{{#each endpoints}}

<tr><td><a href="./{{name}}.md"><strong><code>{{path}}</code></strong></a></td>

<td>{{description}}</td></tr>

{{/each}}
</table>
